<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<!doctype html>
<html id="rg-home-popular" class="no-touch no-js" lang="en" dir="ltr">
<head>	

	<link rel="stylesheet" href="./styles/<!-- @echo name -->.css">
	<link rel="stylesheet" href="./styles/development.css">
	
	
	
	<script>//<link rel="stylesheet" href="<!-- @echo production -->/prod/@echo version/@echo now/<!-- @echo ver -->/styles/<!-- @echo name -->.min.css"></script>
	<!-- @endif -->
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	<link rel="stylesheet" href="../../../../prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/styles/<!-- @echo name -->-single.min.css" inline="true">
	<!-- @endif -->
	
	<style>.isotope_item{margin:0!important;}.isotope_item .sh4{color: #E2E2E2;}</style>

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<!-- @endif -->

	<div id="isotope"></div>
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	<script src="./scripts/fastclick.js"></script>
	<script src="./scripts/moment.js"></script>
	<script src="./scripts/moment-twitter.js"></script>
	<script src="./scripts/jquery.js"></script>
	<script src="./scripts/jquery.infinitescroll.js"></script>
	<script src="./scripts/imagesloaded.pkgd.js"></script>
	<script src="./scripts/isotope.pkgd.js"></script>
	<script src="./scripts/<!-- @echo name -->.js"></script>
	<script src="./scripts/<!-- @echo name -->.mod.fastclick.js"></script>
	<script src="./scripts/<!-- @echo name -->.mod.infinitope-single.js"></script>
	<script src="./scripts/<!-- @echo name -->.init.js"></script>
	
	
	<script>// src="<!-- @echo production -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/scripts/<!-- @echo name -->-single-simple.min.js" inline="true"></script>
	<!-- @endif -->
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	<script src="../../../../prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/scripts/<!-- @echo name -->-single-simple.min.js" inline="true"></script>
	
	<!-- [BEGIN] comScore -->
	<script>var _comscore=_comscore||[];_comscore.push({c1:'2',c2:'14055685'});(function(){var s=document.createElement('script'),el=document.getElementsByTagName('script')[0];s.async=true;s.src=(document.location.protocol=='https:'?'https://sb':'http://b')+'.scorecardresearch.com/beacon.js';el.parentNode.insertBefore(s,el);})();</script>
	<noscript><img src="//b.scorecardresearch.com/p?c1=2&amp;c2=14055685&amp;cv=2.0&amp;cj=1" width="1" height="1" alt=""></noscript>
	<!-- [END] comScore -->

	<!-- [BEGIN] Quantcast -->
	<script>var _qevents=_qevents||[];(function(){var elem=document.createElement('script');elem.src=(document.location.protocol=='https:'?'https://secure':'http://edge')+'.quantserve.com/quant.js';elem.async=true;elem.type='text/javascript';var scpt=document.getElementsByTagName('script')[0];scpt.parentNode.insertBefore(elem,scpt);})();_qevents.push({qacct:'p-a2gE_aSO6ndbI'});</script>
	<noscript><img src="//pixel.quantserve.com/pixel/p-a2gE_aSO6ndbI.gif" width="1" height="1" alt=""></noscript>
	<!-- [END] Quantcast -->
	
	<!-- [BEGIN] Analytics -->
	<script>ga('send', 'event', 'single-popular', 'load', 'popular');</script>
	<!-- [END] Analytics -->
	
	<!-- @endif -->
	
<!-- @if NODE_ENV == 'DEVELOPMENT' -->
</body>
</html>
<!-- @endif -->
