<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<!doctype html>
<html id="rg-home-popular" class="no-touch no-js" lang="en" dir="ltr">
<head>	

	<link rel="stylesheet" href="./styles/<!-- @echo name -->.css">
	<link rel="stylesheet" href="./styles/development.css">
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	<script>//<link rel="stylesheet" href="<!-- @echo production -->/prod/@echo version/@echo now/<!-- @echo ver -->/styles/<!-- @echo name -->.min.css"></script>
	<script>//<link rel="stylesheet" href="../../../../prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/styles/<!-- @echo name -->.min.css"></script>
	<!-- @endif -->
	
	<style>
		body{padding-top:0;margin:0;}
		.isotope_loading{background: url("<!-- @echo production -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/images/loader1.gif") no-repeat center top;}
		.isotope_item{margin:0!important;}
	</style>

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<!-- @endif -->

	<div id="isotope">hello</div>
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	<script src="./scripts/fastclick.js"></script>
	<script src="./scripts/moment.js"></script>
	<script src="./scripts/moment-twitter.js"></script>
	<script src="./scripts/jquery.js"></script>
	<script src="./scripts/jquery.infinitescroll.js"></script>
	<script src="./scripts/imagesloaded.pkgd.js"></script>
	<script src="./scripts/isotope.pkgd.js"></script>
	<script src="./scripts/<!-- @echo name -->.js"></script>
	<script src="./scripts/<!-- @echo name -->.mod.fastclick.js"></script>
	<script src="./scripts/<!-- @echo name -->.mod.infinitope-single.js"></script>
	<script src="./scripts/<!-- @echo name -->.init.js"></script>
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	<script>// src="../../../../prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/scripts/<!-- @echo name -->-single.min.js"></script>
	<script>// src="<!-- @echo production -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/scripts/<!-- @echo name -->-single.min.js"></script>
	<!-- @endif -->
	
</body>
</html>
