* {
	
	// I want everything to `color` to animate:
	-webkit-transition: color 250ms linear;
	   -moz-transition: color 250ms linear;
	    -ms-transition: color 250ms linear;
	     -o-transition: color 250ms linear;
	        transition: color 250ms linear;
	
	&,
	&::before,
	&::after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	
}

html,
body { overflow-x: hidden; }

html {
	height: 100%;
	overflow-y: scroll;
	-webkit-tap-highlight-color: rgba($raven, 0);
}

body {
	font-size: 14px;
	line-height: 20px;
	font-family: $sans;
	color: $gray8;
	background: $milk;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

a {
	
	&,
	&:visited {
		color: $primary;
		text-decoration: none;
	}
	
	.no-touch &:visited:hover,
	&:focus,
	.no-touch &:focus:hover,
	.no-touch &:hover,
	&:active { color: lighten($primary, 30%); }
	
}

::-moz-selection {
	background: rgba($primary, .55);
	text-shadow: none;
}

::selection {
	background: rgba($primary, .55);
	text-shadow: none;
}
