#isotope {
	
	*zoom: 1;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	
	&:after { clear: both; }
	
	.isotope_item {
		
		color: $grayc;
		//border: 2px solid $raven;
		background-color: $gray2;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 495px;
		width: 300px;
		height: 300px;
		margin: 10px;
		float: left;
		display: inline;
		overflow: hidden;
		text-shadow: rgba($raven, .75) 0 0 5px;
		cursor: pointer;
		cursor: hand;
		
		img { display: none; }
		
		span {
			color: #fc0;
			font: 50px/25px "MillerHeadline Light", $serif;
			letter-spacing: .05em;
			float: right;
			margin: 0 0 20px 20px;
		}
		
		time {
			float: right;
			clear: right;
			margin: 0 0 20px 20px;
			text-shadow: rgba($raven, .75) 0 0 1px;
		}
		
		span + time { margin-top: -10px; }
		
		h4 { text-shadow: rgba($raven, .75) 0 0 3px; }
		
		h6 {
			font: normal 13px/15px $sans;
			letter-spacing: .15em;
			text-transform: uppercase;
			color: lighten(#ae1a1f, 10%);
			margin-bottom: 20px;
			text-shadow: rgba($raven, .75) 0 0 2px;
		}
		
		div {
			
			padding: 20px;
			width: 100%;
			height: 100%;
			background: rgba($raven, .25);
			-webkit-transition: background .2s ease-in-out;
			   -moz-transition: background .2s ease-in-out;
			    -ms-transition: background .2s ease-in-out;
			     -o-transition: background .2s ease-in-out;
			        transition: background .2s ease-in-out;
			&:hover { background: rgba($raven, .75); }
			
		}
		
		p {
			font-size: 12px;
			letter-spacing: .1em;
			margin: 0;
			padding: 0;
			line-height: 1;
			font-variant: small-caps;
			position: absolute;
			bottom: 10px;
			right: 10px;
			text-shadow: rgba($raven, .75) 0 0 1px;
		}
		
		* {
			
			&:active,
			&:focus { outline: 0; }
			
		}
		
	}
	
}

#isotope-loading {
	display: none;
	height: 50px;
	background: url(../images/loader1.gif) no-repeat center top;
	background-size: 50px;
}
