#isotope {
	
	// Clear floated boxes:
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after { clear: both; }
	
	// Default color for boxes:
	color: $grayc;
	
	// Isotope box:
	.isotope_item {
		
		// Note: The `background-image` is applied via JS.
		background-color: $gray3;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		
		// Box width/height, sized to fit responsive grids/breakpoints:
		width: 300px;
		height: 300px;
		
		// Don't let anything overflow:
		overflow: hidden;
		
		// Float:
		float: left;
		
		// Space between boxes:
		margin: 10px;
		
		// Base text shadow:
		text-shadow: rgba($raven, .9) 0 0 1px;
		
		// Base font settings for box:
		h1, h2, h3, h4, h5, h6 {
			font-family: "MillerHeadline Bold", $serif;
			font-style: normal;
			font-weight: bold;
		}
		
		// Lighter fonts:
		span,
		h4 {
			font-family: "MillerHeadline Light", $serif;
			font-style: normal;
			font-weight: normal;
		}
		
		// Larger shadows for larger fonts:
		span,
		h3,
		h4 { text-shadow: rgba($raven, .9) 0 0 5px; }
		
		// Only needed for `imagesloaded.pkgd.js`:
		img { display: none; }
		
		// Twitter-style timestamp:
		time {
			margin: 0 0 20px 20px;
			float: right;
			clear: right;
		}
		
		// Popularity number:
		span {
			
			font-size: 50px;
			line-height: 25px;
			color: $tertiary;
			letter-spacing: .05em;
			margin: 0 0 20px 20px;
			float: right;
			
			+ time { margin-top: -10px; }
			
		}
		
		// Main headline:
		h3 { color: $milk; }
		
		// Category:
		h6 {
			font: normal 13px/15px $sans;
			letter-spacing: .15em;
			text-transform: uppercase;
			color: lighten($secondary, 10%);
			margin-bottom: 20px;
		}
		
		// Byline:
		p {
			font-size: 12px;
			letter-spacing: .1em;
			margin: 0;
			padding: 0;
			line-height: 1;
			font-variant: small-caps;
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
		
		// Box link style:
		a {
			
			background: rgba($raven, .25);
			padding: 20px;
			width: 100%;
			height: 100%;
			display: block;
			// cursor: pointer;
			// cursor: hand;
			
			// Background transition, same speed as global color animation:
			-webkit-transition: background 250ms linear;
			   -moz-transition: background 250ms linear;
			    -ms-transition: background 250ms linear;
			     -o-transition: background 250ms linear;
			        transition: background 250ms linear;
			
			// Inherit color from `#isotope`:
			&,
			&:visited {
				color: inherit;
				text-decoration: none;
			}
			
			// Hover styles:
			.no-touch &:visited:hover,
			&:focus,
			.no-touch &:focus:hover,
			.no-touch &:hover,
			&:active {
				
				color: $milk;
				background: rgba($raven, .75);
				
				// Make the headline pop:
				h3 { color: lighten($primary, 30%); }
				
			}
			
		}
		
		// Kill any sort of outline:
		* {
			
			&:active,
			&:focus { outline: 0; }
			
		}
		
	}
	
}

#isotope-loading {
	display: none;
	height: 50px;
	background: url(../images/loader1.gif) no-repeat center top;
	background-size: 50px;
}
