		</main>
		
		<footer role="contentinfo">
			
			<p><span>The Register-Guard <span>•</span></span> <span><a href="http://g.co/maps/h6sgk">3500 Chad Drive</a> • Eugene, OR • 97408 <span>/</span></span> <span>(541) 485-1234 <span>/</span> <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#101;&#101;&#100;&#98;&#97;&#99;&#107;&#64;&#114;&#101;&#103;&#105;&#115;&#116;&#101;&#114;&#103;&#117;&#97;&#114;&#100;&#46;&#99;&#111;&#109;">&#70;&#101;&#101;&#100;&#98;&#97;&#99;&#107;</a></span></p>
			
			<p><span>Copyright © 1996–2014 <span>/</span></span> <span><a href="http://projects.registerguard.com/pages/terms-of-use/">Terms</a> <span>/</span> <a href="http://projects.registerguard.com/pages/privacy-statement/">Privacy</a> <span>/</span> <a href="http://projects.registerguard.com/pages/copyright/">Copyright</a></span></p>
			
		</footer>
		
	</div> <!-- /#container -->
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<script src="./scripts/fastclick.js"></script>
	<script src="./scripts/moment.js"></script>
	<script src="./scripts/moment-twitter.js"></script>
	<script src="./scripts/jquery.js"></script>
	<script src="./scripts/jquery.infinitescroll.js"></script>
	<script src="./scripts/imagesloaded.pkgd.js"></script>
	<script src="./scripts/isotope.pkgd.js"></script>
	<script src="./scripts/<!-- @echo name -->.js"></script>
	<script src="./scripts/<!-- @echo name -->.mod.fastclick.js"></script>
	<script src="./scripts/<!-- @echo name -->.mod.infinitope.js"></script>
	<script src="./scripts/<!-- @echo name -->.init.js"></script>
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<script src="<!-- @echo production -->/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/scripts/<!-- @echo name -->.min.js"></script>
	
	<!-- @endif -->
	
	<!-- [BEGIN] comScore -->
	<script>var _comscore=_comscore||[];_comscore.push({c1:'2',c2:'14055685'});(function(){var s=document.createElement('script'),el=document.getElementsByTagName('script')[0];s.async=true;s.src=(document.location.protocol=='https:'?'https://sb':'http://b')+'.scorecardresearch.com/beacon.js';el.parentNode.insertBefore(s,el);})();</script>
	<noscript><img src="//b.scorecardresearch.com/p?c1=2&amp;c2=14055685&amp;cv=2.0&amp;cj=1" width="1" height="1" alt=""></noscript>
	<!-- [END] comScore -->

	<!-- [BEGIN] Quantcast -->
	<script>var _qevents=_qevents||[];(function(){var elem=document.createElement('script');elem.src=(document.location.protocol=='https:'?'https://secure':'http://edge')+'.quantserve.com/quant.js';elem.async=true;elem.type='text/javascript';var scpt=document.getElementsByTagName('script')[0];scpt.parentNode.insertBefore(elem,scpt);})();_qevents.push({qacct:'p-a2gE_aSO6ndbI'});</script>
	<noscript><img src="//pixel.quantserve.com/pixel/p-a2gE_aSO6ndbI.gif" width="1" height="1" alt=""></noscript>
	<!-- [END] Quantcast -->
	
	<!-- [BEGIN] Analytics -->
	<script>(function(r,g,n,e,w,s){r.GoogleAnalyticsObject=e;r[e]||(r[e]=function(){(r[e].q=r[e].q||[]).push(arguments)});r[e].l=+new Date;w=g.createElement(n);s=g.getElementsByTagName(n)[0];w.src='//www.google-analytics.com/analytics.js';s.parentNode.insertBefore(w,s)}(window,document,'script','ga'));ga('create','UA-882065-1','registerguard.com');ga('require','displayfeatures');ga('require','linkid','linkid.js');ga('send','pageview');</script>
	<!-- [END] Analytics -->
	
</body>
</html>
